version: '3.9'

services:

  postgres:
    image: postgres:16
    container_name: fraud-postgres
    environment:
      POSTGRES_DB: frauddb
      POSTGRES_USER: frauduser
      POSTGRES_PASSWORD: fraudpass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: fraud-redis
    ports:
      - "6379:6379"

  seq:
    image: datalust/seq:latest
    container_name: fraud-seq
    environment:
      ACCEPT_EULA: "Y"
    ports:
      - "5341:80"

volumes:
  pgdata:
